:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 44px;
    --footer-height: 70px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(24, 28, 33);
    --secondary: rgb(99, 105, 113);
    --tertiary: rgb(222, 227, 234);
    --gray: rgb(140, 147, 156);
    --content: rgb(30, 34, 39);
    --code-block-bg: rgb(23, 26, 31);
    --code-bg: rgb(247, 248, 250);
    --border: rgb(230, 234, 239);
    --darkcolor: #315f8c;
    --lightcolor: #e3edf7;
    --semibold: 500;
    --homesize: 16px;
    --textsize: 18px;
    --h1size: 25px;
    --entrysize: 15px;
    --headersize: 16px;
    --footersize: 13px;
    --lineheight: 1.45;
    --lineclamp: 8;
    --marginleft: 26px;
}

.dark {
    --theme: rgb(16, 20, 24);
    --entry: rgb(23, 28, 34);
    --primary: rgb(216, 222, 231);
    --secondary: rgb(150, 160, 174);
    --tertiary: rgb(42, 51, 61);
    --gray: rgb(137, 149, 164);
    --content: rgb(199, 208, 219);
    --code-block-bg: rgb(11, 15, 20);
    --code-bg: rgb(21, 26, 32);
    --border: rgb(41, 50, 59);
    --darkcolor: #82a9d6;
    --lightcolor: #233244;
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
